In [4]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.2     ✔ purrr   1.0.1
✔ tibble  3.2.1     ✔ dplyr   1.1.1
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.3     ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [9]:
player_stats <- read_csv("player_stats.csv")
head(player_stats)

New names:
• `` -> `...1`
Rows: 500 Columns: 38
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (25): Age, Country, Plays, Wikipedia, Current Rank, Best Rank, Name, Bac...
dbl (13): ...1, Turned Pro, Seasons, Titles, Best Season, Retired, Masters, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  ...1 Age             Country            Plays        Wikipedia Current Rank
1 0    26 (25-04-1993) Brazil             Right-handed Wikipedia 378 (97)
2 1    18 (22-12-2001) United Kingdom     Left-handed  Wikipedia 326 (119)
3 2    32 (03-11-1987) Slovakia           Right-handed Wikipedia 178 (280)
4 3    21 (29-05-1998) Korea, Republic of Right-handed Wikipedia 236 (199)
5 4    27 (21-10-1992) Australia          Right-handed Wikipedia 183 (273)
6 5    22 (11-02-1997) Poland             Right-handed Wikipedia 31 (1398)
  Best Rank        Name                 Backhand   Prize Money  ⋯ Facebook
1 363 (04-11-2019) Oscar Jose Gutierrez NA         NA           ⋯ NA
2 316 (14-10-2019) Jack Draper          Two-handed $59,040      ⋯ NA
3 44 (14-01-2013)  Lukas Lacko          Two-handed US$3,261,567 ⋯ NA
4 130 (10-04-2017) Duck Hee Lee         Two-handed $374,093     ⋯ NA
5 17 (11-01-2016)  Bernard Tomic        Two-handed US$6,091,971 ⋯ NA
6 31 (20-01-2020)  Hubert Hurkacz       Two-handed $1,517,157   ⋯ NA
  Twitter Nicknames Grand Slams Davis Cups Web Site Team Cups Olympics
1 NA      NA        NA          NA         NA       NA        NA
2 NA      NA        NA          NA         NA       NA        NA
3 NA      NA        NA          NA         NA       NA        NA
4 NA      NA        NA          NA         NA       NA        NA
5 NA      NA        NA          NA         NA       NA        NA
6 NA      NA        NA          NA         NA       NA        NA
  Weeks at No. 1 Tour Finals
1 NA             NA
2 NA             NA
3 NA             NA
4 NA             NA
5 NA             NA
6 NA             NA

In [13]:
download.file("https://drive.google.com/uc?export=download&id=1fOQ8sy_qMkQiQEAO6uFdRX4tLI8EpSTn",  "game_results")

In [17]:
games_result <- read_csv("game_results")
head(games_result)

New names:
• `` -> `...1`
Rows: 6866 Columns: 50
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (16): tourney_id, tourney_name, surface, tourney_level, winner_seed, win...
dbl (34): ...1, draw_size, tourney_date, match_num, winner_id, winner_ht, wi...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  ...1 tourney_id tourney_name surface draw_size tourney_level tourney_date
1 0    2019-M020  Brisbane     Hard    32        A             20181231
2 1    2019-M020  Brisbane     Hard    32        A             20181231
3 2    2019-M020  Brisbane     Hard    32        A             20181231
4 3    2019-M020  Brisbane     Hard    32        A             20181231
5 4    2019-M020  Brisbane     Hard    32        A             20181231
6 5    2019-M020  Brisbane     Hard    32        A             20181231
  match_num winner_id winner_seed ⋯ l_1stIn l_1stWon l_2ndWon l_SvGms l_bpSaved
1 300       105453    2           ⋯ 54      34       20       14      10
2 299       106421    4           ⋯ 52      36        7       10      10
3 298       105453    2           ⋯ 27      15        6        8       1
4 297       104542    NA          ⋯ 60      38        9       11       4
5 296       106421    4           ⋯ 56      46       19       15       2
6 295       104871    NA          ⋯ 54      40       18       15       6
  l_bpFaced winner_rank winner_rank_points loser_rank loser_rank_points
1 15          9         3590                16        1977
2 13         16         1977               239         200
3  5          9         3590                40        1050
4  6        239          200                31        1298
5  4         16         1977                18        1855
6  9         40         1050               185         275

In [1]:
# test
# test2